extends layout

block content
  section.page-box.intro
    .backgrounds
      .mountains
      .ground
    .body
        .col-md-4.hidden-sm.hidden-xs.large-image
          img(src="/images/Cory_Detailed-Large.png")
        .col-md-8.col-md-offset-4
          .logo-wrap
            img(src="/images/Cory_Logo-Small.png", class="logo hidden-md hidden-lg")
            img(src="/images/Cory_Logo-Large.png", class="logo hidden-xs hidden-sm")

          .text
            p I decided to run for the Operations and Finance position over a year ago.  Through my two years of experience of Students' Council, sitting on all of the financial committees and chairing the Audit Committee, I learned that financial oversight and budgeting are topics I find very interesting and care deeply about.  Sounds nerdy, but it's true.
            p Nerdy makes sense: coming from a physics background, I’m well suited to analyzing numerical data and making high-level decisions about the direction and future of our Students’ Union. 
            p On March 5th and 6th vote Cory Hodgson for Operations and Finance.

  section.page-box
    .clouds
      .body
        .col-md-2.hidden-sm.hidden-xs.sidebar.sidebar-left
          .coin
          .coin
          .coin
          .coin
        .col-md-9.col-md-offset-2
          .platform-point
            h2 Financial Oversight
            p Faculty Associations like the BSA, CBAS, and the ISSS are responsible for providing and paying for an accountant to review their finances. Because most FAs are small and have small budgets, it can be challenging and costly to acquire those services. The responsibility for a financial review is required by SU Bylaw 8200. The SU sets out this requirement, and if we’re going to require FAs to do something, we should be realistic about the limitations they face. We don’t currently provide a means to accomplish the annual review, but we could.

  section.page-box
    .clouds
      .body
        .col-md-9.col-md-offset-1
          .platform-point
            h2 Businesses
            p L’Express Catering is the SU’s second most successful business and has plenty of potential.  While there are multiple players in the catering and food outlet market on campus, there is demand for more affordable and sustainable options, as well as a sizeable catering market off campus.  As VP Operations and Finance, I will undertake a feasibility study of expanding our businesses. This will begin with how we can grow our catering business through L’Express - students want more affordable and sustainable food options - but it’s not limited to that. We can think bigger about coffee shops and cafes, and we can lead the way in providing innovative businesses that meet students needs.

        .col-md-2.hidden-sm.hidden-xs.sidebar.sidebar-right
          .box
          .box
          .box
          .box

  section.page-box
    .clouds
      .body
        .col-md-10.col-md-offset-1
          .platform-point
            h2 North Power Plant
            p The North Power Plant building is the building that now houses Dewey's, but it used to house an iconic bar called the Power Plant. If you have parents or relatives who attended the U of A, they can probably attest to the Power Plant's past glory.  The SU is pushing to repurpose the building and return to a Power Plant scale establishment. This is a long process, and we need to convince the University that the new establishment will not be a liability.
            p As VP Operations and Finance, I will explore options to ensure that student consultation and input guide the choices made about the building’s future. That’s the only way that we can ensure the building will meet student needs in the long term, and the only way that future students can experience the same thing the ghosts of past students did.