html,
body {
  width: 100%;
  height: 100%;
}
.page-box {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-top: 4px solid black;
}
.page-box:nth-child(n) {
  background-color: #cdf6c8;
  color: black;
}
.page-box {
  display: table;
  width: 100%;
  height: 100%;
}
.page-box .text {
  text-align: left;
}
.page-box .body {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 128px;
}
.backgrounds .mountains {
  background: url('/images/mario-mountains.png');
  background-repeat: repeat-x;
  background-position-y: bottom !important;
  opacity: 0.5;
  height: 262px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 128px;
}
.backgrounds .forest {
  background: url('/images/mario-forest.png');
  background-repeat: repeat-x;
  background-position-y: bottom !important;
  opacity: 0.5;
  height: 201px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 128px;
}
.backgrounds .ground-base {
  background-repeat: repeat-x;
  background-position-y: bottom !important;
  z-index: 2;
  height: 128px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}
.backgrounds .ground {
  background: url('/images/mario-ground.png');
  background-repeat: repeat-x;
  background-position-y: bottom !important;
  z-index: 2;
  height: 128px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}
.backgrounds .forest-ground {
  background: url('/images/mario-forest-ground.png');
  background-repeat: repeat-x;
  background-position-y: bottom !important;
  z-index: 2;
  height: 128px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
}
.backgrounds .hills {
  background: url('/images/mario-hills.png');
  background-repeat: repeat-x;
  background-position-y: bottom !important;
  opacity: 0.4;
  height: 336px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 128px;
}
.clouds {
  display: table;
  width: 100%;
  height: 100%;
}
.clouds .body {
  display: table-cell;
  vertical-align: middle;
  background: url('/images/mario-ground.png');
  background-repeat: repeat-x;
  background-position: bottom;
  padding-bottom: 128px;
}
p,
h1,
h2,
h3,
h4 {
  font-family: 'Press Start 2P', cursive;
}
p {
  font-size: 1em;
}
h1,
h2,
h4,
h5,
h6 {
  font-size: 1.6em;
}
.logo {
  margin-bottom: 30px;
  margin-top: 15px;
  max-width: 100%;
  max-height: 200px;
}
.large-image {
  position: absolute;
  bottom: 0px;
  z-index: 3;
  margin: 0 auto;
}
.large-image img {
  max-width: 100%;
  max-height: 100%;
}
.platform-point {
  text-align: left;
}
.platform-point p {
  font-size: 1em;
}
@-webkit-keyframes shell {
  from {
    background-position: 0px;
  }
  to {
    background-position: -256px;
  }
}
@-moz-keyframes shell {
  from {
    background-position: 0px;
  }
  to {
    background-position: -256px;
  }
}
@keyframes shell {
  from {
    background-position: 0px;
  }
  to {
    background-position: -256px;
  }
}
.shell {
  width: 64px;
  height: 64px;
  margin: 30px;
  background-image: url("/images/mario-shell.png");
  -webkit-animation: shell 0.7s steps(4, end) infinite;
  -moz-animation: shell 0.7s steps(4, end) infinite;
  animation: shell 0.7s steps(4, end) infinite;
}
.shell:first-child {
  margin-top: 0;
}
.shell:last-child {
  margin-bottom: 0;
}
.shell:nth-child(n) {
  margin-left: 0;
}
.shell:nth-child(2n) {
  margin-left: 64px;
}
@-webkit-keyframes coin {
  from {
    background-position: 0px;
  }
  to {
    background-position: -192px;
  }
}
@-moz-keyframes coin {
  from {
    background-position: 0px;
  }
  to {
    background-position: -192px;
  }
}
@keyframes coin {
  from {
    background-position: 0px;
  }
  to {
    background-position: -192px;
  }
}
.coin {
  width: 48px;
  height: 64px;
  margin: 30px;
  background-image: url("/images/mario-coin.png");
  -webkit-animation: coin 0.7s steps(4, end) infinite;
  -moz-animation: coin 0.7s steps(4, end) infinite;
  animation: coin 0.7s steps(4, end) infinite;
}
.coin:first-child {
  margin-top: 0;
}
.coin:last-child {
  margin-bottom: 0;
}
.coin:nth-child(n) {
  margin-left: 58px;
}
.coin:nth-child(2n) {
  margin-left: 116px;
}
@-webkit-keyframes box {
  from {
    background-position: 0px;
  }
  to {
    background-position: -256px;
  }
}
@-moz-keyframes box {
  from {
    background-position: 0px;
  }
  to {
    background-position: -256px;
  }
}
@keyframes box {
  from {
    background-position: 0px;
  }
  to {
    background-position: -256px;
  }
}
.sidebar {
  margin-top: 63px;
  position: absolute;
  top: 0;
}
.sidebar-left {
  left: 0;
}
.sidebar-right {
  right: 0;
}
.box {
  width: 64px;
  height: 64px;
  margin: 40px 0px;
  background-image: url("/images/mario-question-block.png");
  -webkit-animation: box 0.6s steps(4, end) infinite;
  -moz-animation: box 0.6s steps(4, end) infinite;
  animation: box 0.6s steps(4, end) infinite;
}
.box:first-child {
  margin-top: 0;
}
.box:last-child {
  margin-bottom: 0;
}
.box:nth-child(n) {
  margin-left: 0;
}
.box:nth-child(2n) {
  margin-left: 74px;
}
.button-row {
  text-align: center;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 50px 0;
}
.mario-button {
  padding: 10px;
  background: #7de870;
  display: inline-block;
  margin: 0 10px;
  border: 4px solid black;
}
.mario-button p {
  margin: 0;
  padding: 0;
}
.mario-button a {
  color: black;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.large-text .text,
.logo {
  display: none;
}
