@primary-color-one: rgb(50, 126, 218);

@secondary-color-one: rgb(205, 246, 200);

// @primary-color-one: rgb(2,142,155);
// @primary-color-two: rgb(30,109,116);
// @primary-color-three: rgb(1,92,101);
// @primary-color-four: rgb(53,192,205);
// @primary-color-five: rgb(94,196,205);

// @secondary-color-one: rgb(255,120,0);
// @secondary-color-two: rgb(191,115,48);
// @secondary-color-three: rgb(166,78,0);
// @secondary-color-four: rgb(255,154,64);
// @secondary-color-five: rgb(255,181,115);

html, body {
    width: 100%;
    height: 100%;
}

.page-box {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;

    border-top: 4px solid black;

    &:nth-child(n) {
        background-color: @secondary-color-one;
        color: black;
    }

    &:nth-child(2n) {
        // background-color: @primary-color-one;
        // color: white;
        // z-index: 1;
    }
}

.page-box {
    display: table;
    width: 100%;
    height: 100%;

    .text {
        text-align: left;
    }

    .body {
        display: table-cell;
        vertical-align: middle;
        padding-bottom: 128px;
    }
}

.backgrounds {
    .mountains {
        background: url('/images/mario-mountains.png');
        background-repeat: repeat-x;
        background-position-y: bottom !important;
        opacity: 0.5;
        height: 262px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 128px;
    }

    .forest {
        background: url('/images/mario-forest.png');
        background-repeat: repeat-x;
        background-position-y: bottom !important;
        opacity: 0.5;
        height: 201px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 128px;
    }

    .ground-base {
        background-repeat: repeat-x;
        background-position-y: bottom !important;
        z-index: 2;
        height: 128px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0px;        
    }

    .ground {
        background: url('/images/mario-ground.png');
        .ground-base;
    }

    .forest-ground {
        background: url('/images/mario-forest-ground.png');
        .ground-base;
    }

    .hills {
        background: url('/images/mario-hills.png');
        background-repeat: repeat-x;
        background-position-y: bottom !important;
        opacity: 0.4;
        height: 336px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 128px; 
    }
}

.clouds {
    display: table;
    width: 100%;
    height: 100%;

    .body {
        display: table-cell;
        vertical-align: middle;

        background: url('/images/mario-ground.png');
        background-repeat: repeat-x;
        background-position: bottom;

        padding-bottom: 128px;

        img {

        }
    }
}

p, h1, h2, h3, h4 {
    font-family: 'Press Start 2P', cursive;
}

p {
    font-size: 15px;
}



.logo {
    margin-bottom: 30px;
    margin-top: 15px;
    max-width: 100%;

    max-height: 200px;
}

.large-image {
    position: absolute;
    bottom: 0px;
    z-index: 3;
    margin: 0 auto;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.platform-point {
    text-align: left;

    p {
        font-size: 16px;
    }
}

@coin-width: 48px;
@coin-steps: 4;
@coin-animation-speed: .7s;

@-webkit-keyframes coin {
    from { background-position: 0px; }
    to { background-position: -@coin-width * @coin-steps; }
}

@-moz-keyframes coin {
    from { background-position: 0px; }
    to { background-position: -@coin-width * @coin-steps; }
}

@keyframes coin {
    from { background-position: 0px; }
    to { background-position: -@coin-width * @coin-steps; }
}


.coin {

    width: @coin-width;
    height: 64px;
    margin: 30px;
    background-image: url("/images/mario-coin.png");

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
    
    &:nth-child(n) {
        margin-left: 10px + @coin-width;
    }

    &:nth-child(2n) {
        margin-left: 10px * 2 + @coin-width * 2;
    }
    
    -webkit-animation: coin @coin-animation-speed steps(@coin-steps, end) infinite;
    -moz-animation: coin @coin-animation-speed steps(@coin-steps, end) infinite;
    animation: coin @coin-animation-speed steps(@coin-steps, end) infinite;
}

@box-width: 64px;
@box-steps: 4;
@box-animation-speed: 0.6s;

@-webkit-keyframes box {
    from { background-position: 0px; }
    to { background-position: -@box-width * @box-steps; }
}

@-moz-keyframes box {
    from { background-position: 0px; }
    to { background-position: -@box-width * @box-steps; }
}

@keyframes box {
    from { background-position: 0px; }
    to { background-position: -@box-width * @box-steps; }
}

.sidebar {
    margin-top: 63px;
    position: absolute;
    top: 0;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.box {

    width: @box-width;
    height: 64px;
    margin: 40px 0px;
    background-image: url("/images/mario-question-block.png");

    
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(n) {
        margin-left: 0;
    }

    &:nth-child(2n) {
        margin-left: 10px + @box-width;
    }
    
    -webkit-animation: box @box-animation-speed steps(@box-steps, end) infinite;
    -moz-animation: box @box-animation-speed steps(@box-steps, end) infinite;
    animation: box @box-animation-speed steps(@box-steps, end) infinite;
}

.button-row {
    text-align: center;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 50px 0;
}

.mario-button {
    padding: 10px;
    background: darken(@secondary-color-one, 20%);
    display: inline-block;
    margin: 0 10px;

    p {
        margin: 0;
        padding: 0;
    }

    a {
        color: black;
        font-size: 18px;
        text-decoration: none;
        text-transform: uppercase;
    }

    border: 4px solid black;
}